.domain__template--wrapper {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  min-width: max-content;
  max-width: 30vw;
  background-color: rgb(225, 239, 239);
  padding: 16px;
  margin: auto;
  margin-top: 10vh;
  border-radius: 2px;
  .mb-48 {
    margin-bottom: 48px;
  }
  .domain__template--header {
    .title {
      font-size: 20px;
      font-weight: 700;
      margin-bottom: 6px;
    }
    .desc,
    .instructions {
      font-size: 12px;
      color: #7b7979;
      line-height: 18px;
      a {
        color: #3358d2;
      }
    }
  }
  .domain__template--body {
    .common__item--header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 12px;
      border-bottom: 1px solid rgb(225, 222, 222);
      .title {
        font-size: 16px;
        font-weight: 700;
        line-height: 24px;
      }
      .btn-left {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: #e7f0f7;
        padding: 4px 12px;
        color: #3358d2;
        border-radius: 6px;
        cursor: pointer;
        .icon {
          margin-right: 6px;
          svg {
            height: 16px;
            width: 16px;
          }
        }
        .text {
          line-height: 16px;
          font-size: 12px;
          font-weight: 600;
        }
      }
      .css-1e6y48t-MuiButtonBase-root-MuiButton-root {
        padding: 0;
        height: 24px;
      }
    }
    .domain__item--wrapper {
      display: flex;
      flex-direction: column;
      background-color: white;
      border-radius: 8px;
      margin-top: 18px;
      padding-bottom: 4px;
      .body {
        padding: 4px 12px;
        .item__property {
          display: flex;
          align-items: center;
          font-size: 14px;
          padding: 8px 0;
          .left {
            min-width: 100px;
            color: #383838;
            font-weight: 700;
          }
        }
        .item__name {
          .right {
            color: #3358d2;
            font-weight: 400;
          }
        }
        .item__status {
          .right {
            font-size: 12px;
            font-weight: 500;
            color: white;
            padding: 3px 8px;
            border-radius: 14px;
            &.success {
              background-color: rgb(47, 201, 47);
            }
            &.pending {
              background-color: rgb(237, 185, 55);
            }
          }
        }
      }
    }

    .add__domain--form {
      &.outline {
        box-shadow:
          #3358d2 0px 0px 0px 2px,
          #3358d2 0px 4px 6px -1px,
          #3358d2 0px 1px 0px inset;
      }
      .body--step1 {
        margin-top: 12px;
        .input--wrapper {
          position: relative;
          .add__domain--input {
            width: 100%;
            label {
              font-size: 14px;
              line-height: 24px;
              &.css-14s5rfu-MuiFormLabel-root-MuiInputLabel-root {
                top: -11px;
              }
              &.Mui-focused {
                color: rgba(0, 0, 0, 0.6);
              }
              &.Mui-error {
                color: #d32f2f;
              }
            }
            input {
              padding: 6px 12px;
              height: 24px;
              font-size: 14px;
              &:focus {
                outline: rgba(0, 0, 0, 0.6);
              }
              outline: none;
            }
          }
          .info-icon {
            position: absolute;
            top: 8px;
            right: 2%;
          }
        }
      }
      .body--step2 {
        padding: 0;
        .domain__item--wrapper {
          margin-top: 0;
          padding-bottom: 0;
          .body {
            padding-bottom: 0;
          }
        }
        .property-add-new-domain {
          padding: 0 12px;
          .item__currentIP {
            .current-ip {
              display: flex;
              align-items: center;
              svg {
                margin-left: 8px;
                fill: rgb(47, 201, 47);
              }
              span {
                line-height: 20px;
              }
            }
          }
          .ip__kiot-viet-web {
            flex-direction: column;
            align-items: flex-start;
            .title {
              min-width: 100px;
              color: #383838;
              font-weight: 700;
              font-size: 14px;
            }
            .table {
              margin-top: 10px;
              width: 100%;
              .currentIP-value {
                display: flex;
                justify-content: space-between;
                .copy__value {
                  font-weight: 700;
                  color: #3358d2;
                  display: flex;
                  align-items: center;
                  cursor: pointer;
                  margin-left: 6px;
                  .copy-text {
                    margin-left: 6px;
                  }
                }
              }
            }
          }
        }
        .custom__domain--note {
          border: 2px solid rgb(237, 185, 55);
          padding: 12px;
          margin: 12px;
          border-radius: 8px;
          background-color: rgb(250 247 225);
          display: flex;
          font-size: 14px;
          .title {
            font-weight: 600;
          }
          .icon {
            margin-right: 8px;
            height: 20px;
            width: 20px;
          }
          .extention {
            min-width: 100%;
            max-width: 30vw;
            .content {
              line-height: 20px;
            }
          }
          .intruct--wrapper {
            margin-top: 16px;
            ul {
              padding: 0;
              margin: 0 26px;
              li {
                .name-link {
                  display: flex;
                  line-height: 20px;
                  .name {
                    margin-right: 6px;
                  }
                  .link {
                    color: #3358d2;
                  }
                }
              }
            }
          }
        }
      }
      .domain__template--footer {
        margin: 10px 12px;
        display: flex;
        justify-content: flex-end;
        button {
          padding: 5px 20px;
          font-size: 14px;
          text-transform: none;
        }
      }
    }
  }
}

.timer--wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #383838;
  color: white;
  width: fit-content;
  padding: 8px 12px;
  font-size: 20px;
  font-weight: 700;
  border-radius: 6px;
  margin-top: 10px;
  margin-bottom: 10px;
  .icon {
    height: 24px;
    margin-right: 8px;
  }
}
